body {
  font-family: "Courier New", monospace;
  max-width: 700px;
  margin: auto;
  background: #000;
  color: #0f0;
  padding: 20px;
}
h1, h2, h3 {
  text-align: center;
  color: #0f0;
}
#new-thread, #new-reply {
  margin-bottom: 20px;
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #111;
  color: #0f0;
  border: 1px solid #0f0;
}
button {
  padding: 10px 15px;
  background: #0f0;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background: #1aff1a;
}
.thread, .post {
  background: #111;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #0f0;
  border-radius: 5px;
}
.timestamp {
  font-size: 0.8em;
  color: #0a0;
}
img.post-img {
  max-width: 100%;
  margin-top: 10px;
  border: 1px solid #0f0;
  border-radius: 5px;
}
